%button#side-button.btn.btn-light.mb-2
	= link_to 'All courses', students_courses_path
%button#side-button.btn.btn-light.mb-2= link_to 'Enrolled course', students_all_courses_path
%button#side-button.btn.btn-light Button 3