%button#side-button.btn.btn-light.mb-2
	= link_to 'All student', teachers_students_path
%button#side-button.btn.btn-light.mb-2 
	= link_to 'All subject', teachers_courses_path
%button#side-button.btn.btn-light
	= link_to 'Edit avatar', teachers_edit_avatar_path