.d-flex.align-items-center.flex-column
	%h2
		welcome to my application
	.d-flex.flex-row.gap-3
		.btn.btn-primary
			= link_to 'Sign up', new_admin_registration_path, class: 'text-white text-decoration-none'
		.btn.btn-primary
			= link_to 'Log in', new_admin_session_path, class: 'text-white text-decoration-none'
	-# .btn.btn-primary
	-# 	= link_to 'Sign up', new_admin_registration_path, class: 'text-white text-decoration-none'
	