%h1 All Students
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Age
      %th Courses Enrolled
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.email
        %td= student.age
        - course = []
        -# - student.enrollments.each { |n| courses<< n.name}
        -# - if courses.empty?
        -#   %td No enrolled courses
        -# - else
        -#   %td= courses.join(', ')
        - courses = student.enrollments.map { |enrollment| enrollment.course.name }
        - if courses.empty?
          %td No enrolled courses
        - else
          %td= courses.join(', ')
