-# .container{style: 'width: 100%'}
%div
  .row.gap-2.d-flex.justify-content-around
    - @courses.each do |course|
      .col-sm-5.col-lg-3.col-xxl-2.mt-1.mb-2
        .card.border.border-black.w-100{style: 'min-height: 250px; min-width: 200px'}
          .card-header 
            = course.name
          .card-body.d-flex.justify-content-between.flex-column
            = course.description
            - if current_student.enrollments.exists?(course_id: course.id)
              %p Enrolled
            - else 
              = button_to 'Enroll', students_course_enrollments_path(course), class: 'btn btn-primary text-black'
            