%h1 Enrolled courses
%table.table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - @enrollments.each do |enrollment|
      - course = Course.find_by(id: enrollment.course_id)
      %tr
        %td= course.name
        %td= course.description
